.partners-section {
  padding-top: 210px;

  &__title {
    text-align: center;
  }

  &__subtitle {
    margin-bottom: 60px;
    text-align: center;

    @include xl-max {
      padding-left: 200px;
      padding-right: 200px;
  
      br {
        display: none;
      }
    }
  
    @include md-max {
      padding-left: 102px;
      padding-right: 102px;
    }
  }

  &__brends {
    display: flex;
    justify-content: center;
    margin-bottom: 64px;
  }

  &__list {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;

    padding-left: 70px;
    padding-right: 70px;
    row-gap: 50px;
  }

  &__item{
    margin-right: 74px;

    @include md-max {
      margin-right: 50px;
    }
  }

  &__item:last-child{
    margin-right: 0px;
  }

  &__link{
    display: flex;
  }

  &__button{
    display: flex;
    justify-content: center;
  }
}