@import "./mixins";
@import "./grid";

@import "./header";
@import "./welcome";
@import "./features";
@import "./contents";
@import "./section";
@import "./partners";
@import "./testimonials";
@import "./cta";
@import "./footer";

@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500&display=swap");

:root {
  --bg-color: #181818;
}

* {
  box-sizing: border-box;
}

/* base styles */
body {
  margin: 0;

  font-family: "Work Sans", sans-serif;
  background-color: var(--bg-color);
  color: #fff;
}

ul {
  padding-left: 0;
  margin: 0;

  list-style: none;
}

a {
  color: white;
  text-decoration: none;
}

button {
  font-size: 17px;
  font-weight: 500;
  font-family: "Work Sans", sans-serif;
  outline: none;
  border: none;
}

h1,
h2,
h3,
p {
  font-weight:normal;
  margin-top: 0;
  margin-bottom: 0;
}

p {
  font-weight: 400;
}
/* ------------ */

.button {
  border: 1px solid #fff;
  color: #fff;
  background-color: transparent;
}

.button:hover {
  background-color: #4452fe;
  border-color: #4452fe;
}

.button--small {
  padding: 14px 46px;
}

.button--large {
  padding: 20px 40px;
}

.flex {
  display: flex;

  &.direction-column {
    flex-direction: column;
  }

  &.justify-center {
    justify-content: center;
  }

  &.align-center {
    align-items: center;
  }
}

.text-center {
  text-align: center;
}
